body {
    font-size: 16px;
    color: var(--dark);
    line-height: 1.5;
    margin: 0;
}

h1 {
    font-size: 3em;
    margin: 0 auto;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 0.5em;
    margin-top: 0;
}


:root {
  --white: #fff;
  --grey: #f7f7f7;
  --dark: #303846;
  --turquoise: #09d3ac;
  --secondary: #707070;
  --height-header: 60px;
}


/* background */

.background-space {
    background: url("../images/banner.png") center no-repeat;
    background-size: cover;
}

.background-grey {
    background: var(--grey);
}

/* Width */
.w-45 {
    width: 45%;
}

.w-1000 {
  width: 1000px;
}

.w-30 {
    width: 30%;
}

.w-50 {
    width: 50%;
}

/* Display */
.display-flex {
    display: flex;
}

/* Color */
.color-fff {
    color: var(--white);
}

/* text-align */
.text-align-center {
    text-align: center;
}

.bold {
    font-weight: 700;
}

/* Container*/

.container {
    width: 1000px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 60px 0;
}

/* Img */
.img {
    width: 28px;
    height: 28px;
}

.about-img {
    width: 290px;
    height: 190px;
}

.place-img {
    width: 300px;
    height: 180px;
}

/* padding-x */

.padding-x-33 {
    padding: 0 33px;
}

/* Margin */
.height-header {
    margin-top: var(--height-header);
}

.m-left-13 {
    margin-left: 13px;
}

.m-left-120 {
    margin-left: 120px;
}

.m-x-235 {
    display: flex;
    margin: 0 235px;
}

/* Button */

.button {
    border-radius: 10px;
    font-size: 1em;
    font-weight: 700;
    text-decoration: none;
}

/* Header */
.header {
display: flex;
justify-content: space-between;
align-items: center;
background-color: var(--white);
height: var(--height-header);
padding: 5px 20px;
box-sizing:border-box;
}

.header-fixed {
position: fixed;
top: 0;
left: 0;
width: 100%;
}

/* logo */
.logo-flex {
    display: flex;
    align-content: center;
}


/* Nav */
.nav {
    display: flex;
    height: 100%;
    align-items: center;
}

.nav-link {
    margin-left: 15px;
    color: var(--dark);
    text-decoration: none;
}

/* Intro */

.intro-img {
    width: 200px;
    height: 200px;
}

.intro-link {
    padding: 12.5px 14px;
    border: 1px solid var(--white);
    color: var(--white);
    margin-top: 5px;
}


/* Request */

.request-h3 {
    font-size: 2em;
    text-align: center;
    margin: 0;
}

.fieldset-request {
    margin: 0 auto;
    width: 50%;
    border: 2.5px solid var(--turquoise);
    margin-bottom: 17px;
}

.legend-request {
    font-size: 1.4em;
    font-weight: 700;
    color: var(--turquoise);
}

.request-p {
    font-size: 18px;
    font-weight: 700;
}


.input {
    margin-top: 1em;
    width: 200px;
    padding: 7px 11px;

    border: 1px solid var(--secondary);
    border-radius: 12px;
}

.select {
    margin-top: 1em;
    width: 200px;
    padding: 7px 11px;
    border-radius: 12px;
}

.request-btn {
    padding: 11px 35px;
    border: 1px solid var(--turquoise);
    color: var(--turquoise);
    text-decoration: none;
    background-color: transparent;
}


/* Footer */
.footer {
    display: flex;
    justify-content:space-around;
    margin: 0 auto;
    padding: 60px 0;
    background: var(--dark);
}

.footer-img {
    padding: 19px 10px;
    width: 28px;
    height: 28px;
}

.footer-small {
    display: flex;
    margin-left: 10px;
    margin-top: -10px;
}

.ul {
    color: var(--white);
    margin-top: -10px;
}

a {
    text-decoration: none;
    color: var(--white);
}







