body {
    font-size: 16px;
    color: #303846;
    line-height: 1.5;
    margin: 0;
}



h1 {
    font-size: 3em;
    margin: 0 auto;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 0.5em;
    margin-top: 0;
}



/* Header */
.header {
background-color: #fff;
height: 60px;
padding: 5px 20px;
justify-content: center;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

/* Logo */
.logo {
    display: flex;
    padding-top: 5px;
}

.img {
    width: 28px;
    height: 28px;
}

.logo-content {
    margin-left: 13px;
}

/* Nav */
.nav {
    display: flex;
    height: 100%;
    align-items: center;
}

.nav-link {
    margin-left: 15px;
    color: #303846;
    text-decoration: none;
}

/* Intro */

.section-intro {
    background: url("../images/banner.png") center no-repeat;
    background-size: cover;
    padding: 60px 0;
}

.intro {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.intro-img {
    width: 200px;
    height: 200px;
}

.intro-content {
    color: #fff;
}

.intro-link {
    padding: 11px 10px;
    border: 1px solid white;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    margin-top: 5px;
}


/* Advantages */

.section {
    width: 1000px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.advantages {
    display: flex;
    justify-content: center;
    padding: 60px 0;
}

.advantages-item {
    width: 30%;
    padding: 0 33px;
}


/* About */
.section-about {
    background: #f7f7f7;
}

.about {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 60px 0;
}

.about-content {
    width: 45%;
}

.about-photo {
    width: 30%;
    margin-left: 120px;
}

.about-img {
    width: 290px;
    height: 190px;
}

/* Place */

.place {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 60px 0;
}

.place-photo {
    width: 30%;
}

.place-img {
    width: 300px;
    height: 180px;
}

.place-content {
    width: 45%;
    margin-left: 120px;
}


/* Request */

.section-request {
    background: #f7f7f7;
    display: flex;
    justify-content: center;

}

.request {
    padding: 60px 0;
    width: 1000px;
}

.request-h1 {
    font-size: 2em;
    text-align: center;
}

.fieldset-request {
    margin: 0 auto;
    width: 50%;
    border: 2.5px solid #09d3ac;
    margin-bottom: 17px;
}

.legend-request {
    font-size: 1.4em;
    font-weight: 700;
    color: #09d3ac;
}

.request-item {
    display: flex;
}

.request-col {
    width: 50%;
}

.request-p {
    font-size: 18px;
    font-weight: 700;
}


.input {
    margin-top: 1em;
    width: 200px;
    padding: 7px 11px;

    border: 1px solid #707070;
    border-radius: 12px;
}

.select {
    margin-top: 1em;
    width: 200px;
    padding: 7px 11px;
    border-radius: 12px;
}

.request-btn {
    padding: 11px 40px;
    border: 1px solid #09d3ac;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1em;
    color: #09d3ac;
    text-decoration: none;
    background-color: transparent;
}

.btn {
    display: flex;
    margin: 0 235px;
}


/* Footer */
.footer {
    display: flex;
    justify-content: space-around;
    background: #303846;
    padding: 60px 0;
    margin-top: auto;
}

.footer-item {
    display: flex;
}

.footer-img {
    padding: 19px 10px;
    width: 28px;
    height: 28px;
}

.footer-h {
    color: #fff;
}

.footer-small {
    display: flex;
    margin-left: 10px;
    margin-top: -10px;
}

.small {
    color: #fff;
}

.ul {
    color: #fff;
    margin-top: -10px;
}

a {
    text-decoration: none;
    color: #fff;
}







