body {
    font-size: 16px;
    color: #303846;
    line-height: 1.5;
}



h1 {
    font-size: 3em;
    margin: 0 auto;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 0.5em;
    margin-top: 0;
}



/* Header */
.header {
background-color: #fff;
height: 60px;
padding: 5px 20px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo {
    display: flex;
}

.logo__img {

}


.img {
    width: 28px;
    height: 28px;
}

.logo__content {
    margin-left: 13px;
}

/* Nav */
.nav {
    display: flex;
    height: 100%;
    align-items: center;
}

.nav__link {
    margin-left: 15px;
    color: #303846;
    text-decoration: none;
}

/* Intro */

.section__intro {
    background: url("../images/banner.png") center no-repeat;
    background-size: cover;
    padding: 60px 0;
}

.intro {
    text-align: center;
}

.intro__img {
    width: 200px;
    height: 200px;
}

.intro__content {
    color: #fff;
}

.intro__link {
    padding: 11px 10px;
    border: 1px solid white;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    margin-top: 5px;
}


















